<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}"/>
    <link rel="stylesheet" href="{% static "css/style.css" %}"/>
    <title>Box_time</title>
</head>
<body>
<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-white border-bottom">
        <a class="navbar-brand" href="/">Бокстайм</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url "new_event" %}">Новое событие</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "event_list" %}">Результаты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "instruction" %}">Инструкция</a>
                </li>
            </ul>
            {% if user.is_authenticated %}<span class="btn-sm">hello {{ user.username }}</span>
                <a class="btn btn-sm btn-outline-secondary" href="{% url 'logout' %}">Log out</a>
                <a class="btn btn-sm btn-outline-secondary" href="{% url 'password_change' %}">Change password</a>
            {% else %}
                <a class="btn btn-sm btn-outline-secondary" href="{% url 'signup' %}">Sign up</a>
                <a class="btn btn-sm btn-outline-secondary" href="{% url 'login' %}">Log in</a>
            {% endif %}

        </div>
    </nav>
</header>
<main role="main" class="container">
    {% block content %}
    {% endblock %}
</main>
<footer class="footer">
    <div class="container">
        <span class="text-muted">Boxtime</span>
    </div>
</footer>
</div>
<script src="{% static "js/jquery.min.js" %}"></script>
<script src="{% static "js/popper.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/script.js" %}"></script>
</body>
</html>
