{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <p class="h3 mb-4">{{ user.username }}</p>
    <a href="{% url 'personal_results' %}"><p>Страница с резульатами соревнований</p></a>
    <img class="rounded-circle account-img" src="{{ user.profile.avatar.url }}" width=100 height=100>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form|crispy }}
        {{ profile_form|crispy }}
        <button class="btn btn-primary" type="submit">Подтвердить изменение</button>
    </form>
{% endblock %}