{% extends 'base.html' %}
{% load static %}
{% block content %}
    <p class="h2 mt-5">Список соревнований</p>
    {% for event in event_list %}
        <div class="border border-dark my-2">
            <p>Название {{ event.title }}</p>
            <p>Дата {{ event.date }}</p>
            <p>Место {{ event.place }}</p>
            <p>Уровень {{ event.level }}</p>
            <p>Описание {{ event.description }}</p>
            <p>Спорт {{ event.sport }}</p>
            <p>Ответственные {{ event.responsible }}</p>
            {#        <a href='{{ MEDIA_URL }}{{ event.docs.url }}'>{{ event.docs }}</a>#}</div>
    {% endfor %}

{% endblock %}