{% extends 'base.html' %}
{% load static %}
{% block content %}
    <p class="h2">Результаты соревнования №{{ number }}</p>
    <div class="border border-dark my-2">
        <p>Название {{ event.title }}</p>
        <p>Дата {{ event.date }}</p>
        <p>Место {{ event.place }}</p>
        <p>Уровень {{ event.level }}</p>
        <p>Описание {{ event.description }}</p>
        <p>Спорт {{ event.sport }}</p>
        <p>Ответственные {{ event.responsible }}</p>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Записаться
        </button>
    </div>
    {% for addrequest in addrequests %}
        <div class="border">
            <p>{{ addrequest.role }}</p>
            <p>{{ addrequest.weight }}</p>
            <p>{{ addrequest.userid }}</p>
            <a class="btn btn-primary" href="{% url 'req_handler' addrequest.id 1 %}" role="button">Accept</a>
            <a class="btn btn-secondary" href="{% url 'req_handler' addrequest.id 0 %}" role="button">Reject</a>
        </div>
    {% endfor %}

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Заявка на участие</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{% url "add_request" %}" id="addfrom" method="post" novalidate>
                        {% csrf_token %}
                        {{ addrequestform.competit }}
                        {{ addrequestform.docs }}
                        {{ addrequestform.role }}
                        {{ addrequestform.weight }}
                        {{ addrequestform.userid }}
                        <input type="submit" class="btn btn-primary" value="Отправить">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}