{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <p class="h2">Результаты соревнования № {{ event.id }}</p>
    <div class="border border-dark my-2 pl-2">
        <p><strong>Название</strong> {{ event.title }}</p>
        <p><strong>Дата</strong> {{ event.date }}</p>
        <p><strong>Автор</strong> {{ event.author }}</p>
        <p><strong>Место</strong> {{ event.place }}</p>
        <p><strong>Уровень</strong> {{ event.level }}</p>
        <p><strong>Описание</strong> {{ event.description }}</p>
        <p><strong>Спорт</strong> {{ event.sport }}</p>
        <p><strong>Ответственные</strong> {{ event.responsible }}</p>
        {% if event.docs %}
            <a href="{{ MEDIA_URL }}{{ event.docs }}" download=""><p>Cкачать док</p></a>
        {% endif %}
        {% if not is_written and user.is_authenticated %}
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Записаться
            </button>
        {% endif %}
        {% if user.username == author %}
            <a class="btn btn-secondary" href="{% url 'del_event' event.id %}" role="button">Удалить евент</a>
        {% endif %}
    </div>
    <div class="btn-group" role="group" aria-label="Basic example">
        {% for weight_category in weight_tuple %}
            {% if weight_category < 500 %}
                <a role="button" class="btn btn-secondary mr-1" data-event="{{ event.id }}"
                   id="weight_{{ weight_category }}"
                   href="{% url 'concrete_event' event.id %}?weight={{ weight_category }}#members">{{ weight_category }}</a>
            {% endif %}
        {% endfor %}
    </div>
    <form action="{% url 'update_grid' event.id weight %}" method="post" class="m-2 p-2 border border-dark">
        {% csrf_token %}
        {{ grid.management_form }}
        {% for forms in grid %}
            <div class="form-inline my-2">
                {{ forms.member1|as_crispy_field }}
                {{ forms.member2|as_crispy_field }}
                {{ forms.memberwin|as_crispy_field }}
                {{ forms.weight|as_crispy_field }}
                {{ forms.levelgrid }}
                {{ forms.competitid }}
                {{ forms.id }}
            </div>
        {% endfor %}
        {% if user.username == author %}
            <input type="submit" class="btn btn-primary" value="Подтвердить">
        {% endif %}
    </form>
    {% for pair in griddb %}
        <div>
            {{ pair.member1 }} vs
            {{ pair.member2 }}
            <span class="alert-success">{{ pair.memberwin }} </span>
            weight: {{ pair.weight }}
            level:{{ pair.levelgrid }}
        </div>
    {% endfor %}

    {% for member in members %}
        <div class="alert alert-dark">
            <p> {{ forloop.counter }}
                <span> {{ member.userid.username }}</span>
                {% if member.role == 'Participant' %}
                    <span> {{ member.weight }}</span>
                {% endif %}
                <span> {{ member.role }}</span>
            </p>
        </div>
    {% endfor %}
    {% for addrequest in addrequests %}
        <div class="border">
            <p>{{ addrequest.role }}</p>
            {% if addrequest.role == 'Participant' %}
                <p>{{ addrequest.weight }}</p>
            {% endif %}
            <p>{{ addrequest.userid }}</p>
            {% if addrequest.docs %}
                <a href="{{ MEDIA_URL }}{{ addrequest.docs }}" download="">Cкачать док </a>
            {% endif %}
            {% if user.username == author or is_doctor %}
                <a class="btn btn-primary" href="{% url 'req_handler' addrequest.id 1 event.id %}"
                   role="button">Принять</a>
                <a class="btn btn-secondary" href="{% url 'req_handler' addrequest.id 0 event.id %}"
                   role="button">Отклонить</a>
            {% endif %}
        </div>
    {% endfor %}

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Заявка на участие</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{% url "add_request" event.id %}" id="addform" method="post"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ addrequestform|crispy }}
                    </form>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" form="addform" value="Отправить">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}