{% extends 'base.html' %}
{% load static %}
{% block content %}
    <p class="h2">Инструкция по использованию сервиса</p>

    <p> Сервис позволяет организовать соревнования по боксу или кикбоксингу. Для создания нового мероприятия выберите
        пункт "Новое событие", заполните необходимые данные</p>
    <p> Для участия в соревнованиях нужна регистрация на сайте, вне зависимости от вашей роли(участник, врач, тренер или
        спонсор)</p>

    <p> Для подачи заявки на участие, сначало необходимо авторизоваться на сайте, затем перейдите на нужное событие и
        нажмите на кнопку "Записаться". Затем нужно будет заполнить небольшую форму и подтвердить ее отправку</p>
    <p>После даты начала соревнования регистрация на него невозможна.</p>
    <p>После начала соревнований администратору необходимо, заполнять победителей в автоматически генерируемой сетке
        участников, заполнять следует все весовые категории. После того, как будет заполнен 1 уровень сетки по всем
        весам, станет доступен крактий отчет по прошедшему соревнованию.</p>

    <p> Если вы хотите найти интересующие вас событие, то перейдите на страницу поиска</p>
{% endblock %}