{% extends 'base.html' %}
{% load static %}
{% block content %}
    <p class="h2 mt-5">Инструкция по использованию сервиса</p>

    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec tincidunt metus. Phasellus feugiat odio
        elit, eget gravida felis euismod eu. Praesent eget massa blandit, aliquet ipsum et, mattis velit. Phasellus
        maximus pretium quam in faucibus. Suspendisse iaculis nisi dapibus tincidunt vehicula. In ut risus nunc. Integer
        non justo quis tellus tempus sollicitudin. Maecenas blandit lacus ante, a semper mauris blandit non. Sed ut
        mauris et purus dignissim venenatis id id ante.</p>

    <p> Morbi vel dolor ultricies leo pulvinar efficitur vitae in neque. Etiam finibus lacus non scelerisque ultricies.
        Phasellus ac congue ligula, nec vestibulum massa. Interdum et malesuada fames ac ante ipsum primis in faucibus.
        Suspendisse potenti. Donec aliquet tempus libero eget mattis. Sed mattis blandit lorem id euismod. Sed elementum
        tempus libero vitae tincidunt. In hac habitasse platea dictumst. Mauris dignissim nibh dapibus est luctus
        posuere. Maecenas ut eros eget eros bibendum lacinia et id odio. Sed luctus, quam vulputate viverra commodo, mi
        neque aliquam erat, quis ultrices lorem odio eu lorem.</p>

    <p> Integer rutrum cursus libero, a maximus lacus suscipit a. Integer sit amet dignissim erat. Morbi rhoncus enim
        nunc, sit amet faucibus nulla ornare laoreet. Aenean tempor enim ut elit consectetur venenatis. Nullam
        consectetur risus id venenatis mollis. Nam bibendum elit in ex iaculis blandit. Nam nibh nulla, sagittis quis
        justo at, sodales malesuada neque. Proin ut augue vitae magna maximus ornare pellentesque a augue. Suspendisse
        potenti.</p>

    <p> Quisque vehicula sagittis purus, ac pharetra nibh pretium eu. Vestibulum pellentesque ligula ac ligula maximus,
        sed cursus purus vehicula. In vel lacus at orci tristique tristique. Vivamus iaculis ultricies mi. Donec cursus
        dolor sit amet urna egestas interdum. Phasellus feugiat cursus turpis. Etiam placerat, lacus quis cursus
        convallis, lectus orci pellentesque justo, faucibus mollis quam nulla in diam. Vivamus gravida nisi ut libero
        volutpat, at facilisis libero faucibus. Nam tempus mauris pulvinar ultrices vulputate. Donec porta lectus ac
        massa dapibus mollis.</p>

    <p> Mauris non risus ac mi finibus viverra id egestas nulla. Etiam quis neque non dolor blandit tincidunt. Donec id
        tempus lacus, eu rutrum tortor. Donec consectetur egestas quam, in eleifend augue hendrerit hendrerit. Etiam
        varius nibh non suscipit laoreet. Quisque nec nisl quis sem suscipit condimentum. Nullam maximus libero id augue
        porttitor, ac commodo sapien tempor. Praesent nulla dolor, posuere ut mauris ac, porttitor viverra sem. Morbi
        pharetra sapien ac urna molestie, in volutpat risus commodo. Orci varius natoque penatibus et magnis dis
        parturient montes, nascetur ridiculus mus. Cras cursus tortor vitae mollis vestibulum. Sed rutrum turpis vitae
        urna vestibulum congue. Fusce pellentesque laoreet semper. Aenean porttitor ex lorem, at dictum nulla euismod
        non.</p>
{% endblock %}